<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <main>
        <form action="/new" method="POST">
            <label for="username"> User name: 
                <input type="username" id="username" name="username" autocomplete="off" required>
            </label>
            <button type="submit">Submit</button>
        </form>
        <a href="/">Back</a>
    </main>
</body>
</html>